In [ ]:
#!/bin/python3
# Importing modules
import os
import numpy as np
import pandas as pd

In [7]:
print("Checking for data directory and creating it if it is not there")
workingdir = os.getcwd() # get the current working directory  
print(workingdir)
try:
    os.stat("data")
except:
    print("data directory not found, making one")
    os.mkdir("data")
os.chdir("data")

/Users/jeaimehp/Desktop/Intro to Python Notebooks/data/data

[]

In [9]:
workingdir = os.getcwd()
print(workingdir)
print(os.listdir())

/Users/jeaimehp/.Trash/data/data
[]

In [23]:
print("Creating inital random dataset")
dataset = pd.DataFrame(np.random.randint(0,5000,size=(25,10)), columns=list('ABCDEFGHIJ'))
dataset.head()

      A     B     C     D     E     F     G     H     I     J
0  2326   767  3363    74  1971  2575  3770   162  2149  4899
1  1535  2511  1182   760  4513   881  4774   358  4598   573
2  4497  3883   784  2917  4265    93  4378  2607  3367  3878
3  1738  2566  1443  2002  3923  3397  1515  3642  1023  1939
4  1374  2104  1586  2757  3901  1192  1537  1653   624  1439

In [24]:
print("Creating converting to floats")
dataset = dataset / 1000
print(dataset.head())

       A      B      C      D      E      F      G      H      I      J
0  2.326  0.767  3.363  0.074  1.971  2.575  3.770  0.162  2.149  4.899
1  1.535  2.511  1.182  0.760  4.513  0.881  4.774  0.358  4.598  0.573
2  4.497  3.883  0.784  2.917  4.265  0.093  4.378  2.607  3.367  3.878
3  1.738  2.566  1.443  2.002  3.923  3.397  1.515  3.642  1.023  1.939
4  1.374  2.104  1.586  2.757  3.901  1.192  1.537  1.653  0.624  1.439

In [22]:
print("Statistical description of the dataset")
print(dataset.describe())

,A,B,C,D,E,F,G,H,I,J
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,0.002721,0.002885,0.002766,0.002957,0.002217,0.002448,0.002269,0.002969,0.002259,0.002882
std,0.001236,0.001368,0.001188,0.001302,0.001476,0.001321,0.001383,0.001598,0.001538,0.001515
min,0.000300,0.000349,0.000414,0.000324,0.000061,0.000157,0.000188,0.000214,0.000014,0.000191
25%,0.002057,0.002083,0.001900,0.002163,0.001178,0.001733,0.001260,0.001393,0.001023,0.001674
50%,0.002606,0.002978,0.002826,0.002849,0.002033,0.002488,0.002114,0.003574,0.001876,0.003210
75%,0.003643,0.004052,0.003531,0.004248,0.003336,0.003585,0.003482,0.004407,0.003534,0.004074
max,0.004932,0.004819,0.004905,0.004752,0.004880,0.004482,0.004451,0.004868,0.004852,0.004962

In [25]:
print("saving the dataset to",workingdir,"/datafile.csv")
dataset.to_csv("datafile.csv")

In [26]:
os.listdir()

['datafile.csv']

In [ ]:
print("Done")